<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/><br>
<p *ngIf="person.name === 'sebastian'">Soy Sebastian</p>
<p *ngIf="person.name === 'julian' && person.age === 19; else myBlock">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloqueo</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/><br>
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/><br>
<p>Valid: {{ ageInput.valid }}</p>

<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="Desactivar()">Desactivar</button>
<p>Edad {{person.age}}</p>
<button (click)="Edad()">Aumneto de edad ++</button>
<br>
<div class="box" (scroll)="onScroll($event)">
  <p>María estaba durmiendo muy tranquilamente hasta que la despertó un ruido. Abrió los ojos y salió de la cama para ver qué la había despertado, pero estaba sola y no se le ocurría qué podría haber producido el ruido. De repente, recordó que había dejado la ventana de la sala abierta. Fue hasta la sala, la cerró y volvió a la cama para dormir.</p>
</div>
<input type="text" [value]="person.name" (keyup)="cambiarNombre($event)"/><br>
<p>Nombre {{ person.name }}</p>
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" /><br>
<progress max="100" [value]="person.age"></progress><br>
<img width="100" [src]="person.img">
<hr>
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola mi nombre es {{ name }} y tengo {{ age }} de edad.</h3>
<img src={{img}} alt="image">
